.UserList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  .User {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
